<nav class="navbar">
    <div class="navbar__brand">
        <a href="/">
            <img class="navbar__logo" src="assets/exun.png" alt="Exun Clan" />
        </a>
    </div>
    <div class="navbar__nav">
        <a href="/" class="navbar__link">Home</a>
        <a href="/events" class="navbar__link">Events</a>
        <a href="https://docs.google.com/document/d/1h_sWUuvQlLoiwf4R7kGO7_VQi-mnqlbGrBu6wyAGEhg/edit?usp=sharing" class="navbar__link" target="_blank">Schedule</a>
        <div data-nav="admin"></div>
        <div data-nav="auth"></div>
    </div>
</nav>